---
- name: Install uchiwa.
  apt: 
    name: uchiwa 
    state: present

- name: Generate uchiwa config file.
  template:
    src: uchiwa.json.j2
    dest: /etc/sensu/conf.d/sensu-framework/{{ item }}
    owner: "{{ sensu_user }}"
    group: "{{ sensu_group }}"
    mode: "u=rw,g=r,o=r"
  with_items:
    - uchiwa.json

- name: Start uchiwa at boot reboot.
  service:
    name: uchiwa
    enabled: yes

- name: Create a symlink of uchiwa.json in /etc/sensu/conf.d.
  file: 
    src: /etc/sensu/conf.d/uchiwa.json 
    dest: /etc/sensu/conf.d/sensu-framework/uchiwa.json
    owner: "{{ sensu_user }}"
    group: "{{ sensu_group }}"
    state: link
