---
#ansible-playbook /etc/ansible/roles/setup_postinstall-ovh.yaml

- name: 'Postinstall Routine for OVH hosts'
  hosts: ovh_newinstances
  pre_tasks:
    - name: Adding the root public key to authorized_keys files.
      become: true
      become_user: root
      become_method: sudo
      authorized_key: 
        user: root
        key: "{{ lookup('file', '/root/.ssh/ovh-root_rsa.pub') }}"
  roles:
    - addgroups_initial-ovh
#    - dist_update_upgrade
#    - timezone
#    - etc_hosts-scw
  #desinstaller cloud-utils 
#    - addgroups_initial
#    - adduser_lvi
#    - adduser_cso
#    - ssh_config
#    - fail2ban
#    - motd-scw
#  post_tasks:
#    - name:  Restart rsyslog to sync with newly intalled timezone 
#      service: name=rsyslog state=restarted


#Se connecter en admin, la commande suivante est effectuée en sudo 
#add_sshkey-ovh
#- name: Adding the root public key to authorized_keys files.
#  authorized_key: 
#    user: root 
#    key: "{{ lookup('file', '/root/.ssh/lvi_rsa.pub') }}"

#A partir de amintenant toutes les commandes peuvent être effectuée en root 
#scp -i /Users/laurent/.ssh/lvi_rsa /Users/laurent/.ssh/ lvi@ansible.cloud.minsys.io 