{
   "client": {
      "name": "{{ sensu_client_hostname }}",
      "address": "{{ sensu_client_address }}",
      "subscriptions": ["all", "PRD", "scw.cloud.minsys.io", "redis", "rabbitmq", "nginx"]
   }
}