# SSH configuration file.
#
# !!!----THIS IS AN ANSIBLE MANAGED FILE ----!!!
#
# Need help ? Contact : support@minsys.io 

Port {{ sshd.config.port }}
ListenAddress {{ sshd.config.listenaddress }}
Protocol {{ sshd.config.vprotocol }}
HostKey {{ sshd.config.rsahostkey }}
HostKey {{ sshd.config.dsahostkey }}
HostKey {{ sshd.config.ecdsahostkey }}
HostKey {{ sshd.config.ed25519hostkey }}
UsePrivilegeSeparation {{ sshd.config.useprivseparation|bool }}
SyslogFacility {{ sshd.config.syslogfacility }}
LogLevel {{ sshd.config.loglevel }}
LoginGraceTime {{ sshd.config.logingracetime }}
PermitRootLogin {{ sshd.config.permitrootlogin }}
StrictModes {{ sshd.config.strictmodes|bool }}
RSAAuthentication {{ sshd.config.rsaauthentication|bool }}
PubkeyAuthentication {{ sshd.config.pubkeyauthentication|bool }}
IgnoreRhosts {{ sshd.config.ignorerhosts|bool }}
RhostsRSAAuthentication {{ sshd.config.rhostsrsaauthentication|bool }}
HostbasedAuthentication {{ sshd.config.hostbasedauthentication|bool }}
PermitEmptyPasswords {{ sshd.config.permitemptypasswords|bool }}
ChallengeResponseAuthentication {{ sshd.config.challengeresponseauthentication|bool }}
PrintLastLog {{ sshd.config.printlastlog|bool }}
TCPKeepAlive {{ sshd.config.tcpkeepalive|bool }}
UsePAM {{ sshd.config.usepam|bool }}
UseDNS {{ sshd.config.usedns|bool }}
AllowGroups {{ sshd.config.allowgroups }}

#AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server